.dashboard-count {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin: 10px;
  background-color: #f5f5f5;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
     width: 250px; /* Adjust the width as needed */
}

.dashboard-count h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.dashboard-count p {
  font-size: 1.5rem;
  font-weight: bold;
}

.dashboard-count a {
  display: block;
  margin-top: 15px;
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.dashboard-count a:hover {
  background-color: #0056b3;
}

.faculty-name {
    font-size: 1.2rem;
    color: #0A5880;
    text-align: center;
}

.admin-dashboard {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
